.fav-movie-btn {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;

  button {
    display: block;
    font-size: 2rem;
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    cursor: inherit;
    outline: none;
    margin-right: 8px;
  }
}
