.title-search-container {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.096);

  form {
    max-width: $max-content-width;
    padding: 0 $side-pad;
    margin: 0 auto;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      border: none;
      padding: 10px;
      font-size: inherit;
      outline: none;
    }
  }
}
